In [141]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle
import numpy as np

In [142]:
#load the dataset
df=pd.read_csv("Churn_Modelling.csv")

In [143]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [144]:
df.drop(df.columns[0:3],axis=1,inplace=True)

In [145]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [146]:
#Encode Categorical Variable
Label_encoder_gender=LabelEncoder()
df['Gender']=Label_encoder_gender.fit_transform(df['Gender'])

In [147]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [148]:
pd.value_counts(df['Gender'])

/var/folders/36/bt6542bj5879_2hs143m1qsw0000gn/T/ipykernel_69189/3125363441.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df['Gender'])

Gender
1    5457
0    4543
Name: count, dtype: int64

In [149]:
pd.value_counts(df['Geography'])

/var/folders/36/bt6542bj5879_2hs143m1qsw0000gn/T/ipykernel_69189/2622788868.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df['Geography'])

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [150]:
#applying OHE on Geography
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder=OneHotEncoder(sparse=False)
geo_encoded=one_hot_encoder.fit_transform(df[['Geography']])

/Users/pratyushgupta/anaconda3/envs/tf/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [151]:
one_hot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [152]:
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encoder.get_feature_names_out(['Geography']))

In [153]:
data=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [154]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [155]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(Label_encoder_gender,file)

with open('label_encoder_geo.pkl','wb') as file:
    pickle.dump(one_hot_encoder,file)

In [206]:
X=data.drop('Exited',axis=1)
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0

In [311]:
y=data['Exited']
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [158]:
X.shape

(10000, 12)

In [159]:
y.shape

(10000,)

In [160]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [161]:
for i in range(X_train.shape[1]):
    print(np.mean(X_train[X_train.columns[i]]))

651.647625
0.54525
38.89775
5.003875
76102.13964500002
1.531375
0.7035
0.51275
100431.28976375
0.49925
0.251375
0.249375

In [162]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [163]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [164]:
for i in range(X_train.shape[1]):
    print(np.mean(X_train[:,i]))

5.435651928564766e-16
2.842170943040401e-17
-1.8962609260597673e-16
6.661338147750939e-17
-3.099742684753437e-16
1.0658141036401502e-16
-3.1974423109204506e-17
-1.7763568394002505e-17
1.7763568394002505e-17
6.217248937900877e-17
-4.263256414560601e-17
-7.194245199571015e-17

In [165]:
import tensorflow as tf
from tensorflow.keras.models import Sequential,load_model
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [321]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

In [322]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 64)                832

 dense_17 (Dense)            (None, 32)                2080

 dense_18 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [323]:
import tensorflow
opt = tf.keras.optimizers.Adam(learning_rate=0.001)
losses=tensorflow.keras.losses.BinaryCrossentropy()

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [324]:
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [325]:
log_dir='logs/fit'+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
Tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [326]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [327]:
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[Tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 [==============================] - 1s 992us/step - loss: 0.4488 - accuracy: 0.8056 - val_loss: 0.3894 - val_accuracy: 0.8325
Epoch 2/100
250/250 [==============================] - 0s 715us/step - loss: 0.3778 - accuracy: 0.8454 - val_loss: 0.3549 - val_accuracy: 0.8515
Epoch 3/100
250/250 [==============================] - 0s 702us/step - loss: 0.3539 - accuracy: 0.8531 - val_loss: 0.3512 - val_accuracy: 0.8525
Epoch 4/100
250/250 [==============================] - 0s 696us/step - loss: 0.3456 - accuracy: 0.8565 - val_loss: 0.3470 - val_accuracy: 0.8560
Epoch 5/100
250/250 [==============================] - 0s 690us/step - loss: 0.3415 - accuracy: 0.8594 - val_loss: 0.3461 - val_accuracy: 0.8555
Epoch 6/100
250/250 [==============================] - 0s 694us/step - loss: 0.3383 - accuracy: 0.8586 - val_loss: 0.3454 - val_accuracy: 0.8545
Epoch 7/100
250/250 [==============================] - 0s 687us/step - loss: 0.3346 - accuracy: 0.8609 - val_loss: 0.3468 - val_accuracy: 0.8595
Epoch 8/100
250/250 [==============================] - 0s 687us/step - loss: 0.3326 - accuracy: 0.8637 - val_loss: 0.3426 - val_accuracy: 0.8605
Epoch 9/100
250/250 [==============================] - 0s 700us/step - loss: 0.3305 - accuracy: 0.8637 - val_loss: 0.3452 - val_accuracy: 0.8595
Epoch 10/100
250/250 [==============================] - 0s 683us/step - loss: 0.3281 - accuracy: 0.8641 - val_loss: 0.3405 - val_accuracy: 0.8615
Epoch 11/100
250/250 [==============================] - 0s 682us/step - loss: 0.3247 - accuracy: 0.8651 - val_loss: 0.3457 - val_accuracy: 0.8570
Epoch 12/100
250/250 [==============================] - 0s 688us/step - loss: 0.3234 - accuracy: 0.8662 - val_loss: 0.3387 - val_accuracy: 0.8620
Epoch 13/100
250/250 [==============================] - 0s 681us/step - loss: 0.3218 - accuracy: 0.8662 - val_loss: 0.3391 - val_accuracy: 0.8620
Epoch 14/100
250/250 [==============================] - 0s 699us/step - loss: 0.3191 - accuracy: 0.8673 - val_loss: 0.3452 - val_accuracy: 0.8550
Epoch 15/100
250/250 [==============================] - 0s 690us/step - loss: 0.3191 - accuracy: 0.8673 - val_loss: 0.3381 - val_accuracy: 0.8570
Epoch 16/100
250/250 [==============================] - 0s 696us/step - loss: 0.3169 - accuracy: 0.8666 - val_loss: 0.3413 - val_accuracy: 0.8610
Epoch 17/100
250/250 [==============================] - 0s 683us/step - loss: 0.3150 - accuracy: 0.8666 - val_loss: 0.3413 - val_accuracy: 0.8640
Epoch 18/100
250/250 [==============================] - 0s 691us/step - loss: 0.3148 - accuracy: 0.8686 - val_loss: 0.3412 - val_accuracy: 0.8620
Epoch 19/100
250/250 [==============================] - 0s 681us/step - loss: 0.3119 - accuracy: 0.8695 - val_loss: 0.3431 - val_accuracy: 0.8610
Epoch 20/100
250/250 [==============================] - 0s 684us/step - loss: 0.3113 - accuracy: 0.8708 - val_loss: 0.3403 - val_accuracy: 0.8685
Epoch 21/100
250/250 [==============================] - 0s 682us/step - loss: 0.3087 - accuracy: 0.8719 - val_loss: 0.3436 - val_accuracy: 0.8620
Epoch 22/100
250/250 [==============================] - 0s 679us/step - loss: 0.3072 - accuracy: 0.8711 - val_loss: 0.3456 - val_accuracy: 0.8615
Epoch 23/100
250/250 [==============================] - 0s 717us/step - loss: 0.3060 - accuracy: 0.8740 - val_loss: 0.3431 - val_accuracy: 0.8650
Epoch 24/100
250/250 [==============================] - 0s 724us/step - loss: 0.3068 - accuracy: 0.8733 - val_loss: 0.3389 - val_accuracy: 0.8600
Epoch 25/100
250/250 [==============================] - 0s 726us/step - loss: 0.3051 - accuracy: 0.8709 - val_loss: 0.3381 - val_accuracy: 0.8665

In [328]:
model.save("model.h5")

In [246]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [247]:
%tensorboard --logdir logs/fit20241228-171907

Reusing TensorBoard on port 6006 (pid 69363), started 0:54:20 ago. (Use '!kill 69363' to kill it.)

In [269]:
model=load_model('model.h5')

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('label_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [270]:
input_data={
    'CreditScore':600
    ,'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000
    ,'NumOfProducts':2
    ,'HasCrCard':1
    ,'IsActiveMember':1
    ,'EstimatedSalary':50000
}

In [271]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [272]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [273]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [274]:
label_encoded_geo=label_encoder_geo.transform([[input_data['Geography']]])

/Users/pratyushgupta/anaconda3/envs/tf/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [275]:
geo_encoded_df=pd.DataFrame(label_encoded_geo,columns=one_hot_encoder.get_feature_names_out(['Geography']))

In [276]:
one_hot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [277]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [278]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [279]:
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [280]:
input_df=scaler.transform(input_df)

In [304]:
input_df
X_train[0]

array([ 0.35649971,  0.91324755, -0.6557859 ,  0.34567966, -1.21847056,
        0.80843615,  0.64920267,  0.97481699,  1.36766974,  1.00150113,
       -0.57946723, -0.57638802])

In [307]:
model.predict(X_train[:100])

4/4 [==============================] - 0s 592us/step

array([[0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914],
       [0.20244914]], dtype=float32)

In [308]:
print(history.history['loss'])

[0.5080268383026123, 0.5079830884933472, 0.507969856262207, 0.5079663395881653, 0.5079563856124878, 0.5079681277275085, 0.5079632997512817, 0.5079584717750549, 0.5079599618911743, 0.507958173751831, 0.5079550743103027]

AttributeError: 'numpy.ndarray' object has no attribute 'head'